<a href="https://colab.research.google.com/github/CarlosRochaA/codes-python-/blob/main/codes-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Datos

In [ ]:
x = 5
y = 17

print(x+y) # suma
print(x*2) # multiplicacion
print(x**(1/2)) # elevado a 
print(y / x) # División
print(y // x)  # Parte entera de la división
print(y % x) # Devuelve el resto

type(x), type(y)

22
10
2.23606797749979
3.4
3
2

(int, int)

## Operadores diponibles

Los operadores disponibles son: 

    Relacionales:
    - >= , <=, <, > : Mayor o igual, menor o igual, mayor o menor
    - != , == : Distinto, Igual
    - in : Contenido por 
    Lógicos:
    - not o ~ : Negación
    - and o & : Ambas verdaderas
    - or o | : Una u otra es verdadera
    
Como booleanos, se pueden utilizar tanto 0 y 1 como True y False.

## Strings

También podemos usar los índices para traer más de un elemento al mismo tiempo, usando el **slicing**. El slicing lleva tres parámetros: comienzo (start), final (stop) e intervalo o paso (step).

- El parámetro comienzo (start) indica la primera posición incluida en la selección, por default es 0.

- El parámetro final (stop) es la primera posición que NO va a estar incluída, por default se incluyen todos los elementos. 

- El parámetro intervalo o paso (step), es optativo e indica el tamaño del paso entre seleccionar un elemento y el siguiente, por default el paso es 1. El paso también puede ser negativo, en este caso contamos desde el final hacia el comienzo, esto es muy útil para dar vuelta los strings...

    
    [comienzo : final : intervalo] (en inglés es [start : stop : step] )
    
    
El intervalo que se recibe es semi-abierto (indice_primero, indice_segundo], es decir se incluye el primero y no el segundo valor. Se admiten números negativos, que contabilizan desde el final.

In [ ]:
texto = "programación en python"
print(texto[0])
print(texto[:])
print(texto[:1])
print(texto[1:4])
print(texto[::-1])
print(texto[16:23])
print(texto[-6:])
print(texto[-6:23:1])
print(texto.upper())
print(texto.title())
print(texto.split()) # Devuelve una lista

p
programación en python
p
rog
nohtyp ne nóicamargorp
python
python
python
PROGRAMACIÓN EN PYTHON
Programación En Python
['programación', 'en', 'python']

Otras formas de combinar texto

In [ ]:
tema = 'data science'
modales = 'por favor'
print('Dame información de {0} si esta disponible, {1}'.format(tema, modales))
print(f'Dame información de {tema.upper()} si esta disponible, {modales}') # mas utilizada
print("1000".isdigit()) # verifica si un texto se puede castear como entero
print("   quitando espacios  ".strip()) # quita espacios adelante y atras
texto = "Me gusta el 37" # Piso el contenido de la variable para hacer otras pruebas
print(texto.replace(' ', '...'))
print(texto.isalpha())
texto = "Me" # Piso el contenido de la variable
print(texto.isalpha()) # pregunta si todo esta compuesto por letras o es una combinacion
str1 = "Hola"
str2 = "qué tal"
print( f"{str1}{str2}")
resultado = f"{str1} {str2}" # Note el espacio
print(resultado)

Dame información de data science si esta disponible, por favor
Dame información de DATA SCIENCE si esta disponible, por favor
True
quitando espacios
Me...gusta...el...37
False
True
Holaqué tal
Hola qué tal

## Listas

In [ ]:
amigos =  ['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
print(amigos[0])  # Devuelve un string
print(type(amigos[0]))
print(amigos[:1]) # arranco en 0 y el primero sin incluir es el 1, con el paso default (1), devuelve una lista
print(type(amigos[:1]))
print(" ")
print(amigos[-1]) # Último elemento, devuelve un string
print(amigos[:]) # arranco en 0 hasta el final, con el paso default (1)
print(amigos[:-1]) # excluímos el último elemento
print(amigos[::2]) # salteamos un elemento a la vez
print(amigos[::-1]) # lista de atras hacia adelante

Mateo
<class 'str'>
['Mateo']
<class 'list'>

Paola
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
['Mateo', 'Nico', 'Claudia', 'Ernestina']
['Mateo', 'Claudia', 'Paola']
['Paola', 'Ernestina', 'Claudia', 'Nico', 'Mateo']

In [ ]:
amigos =  ['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
# Formas de agregar items a la 
amigos.append('Chicharito')
# print(amigos)
amigos = amigos + ['Chicharito']
print(amigos)
# Suma de listas
print(amigos + ['Pipi', 'Toto'])
amigos_sep = ';'.join(amigos) # devuelve un string  
print(amigos_sep)  
amigos.remove('Chicharito') # Elimina sólo un elemento, la primera coincidencia
print(amigos)
del amigos[0]   # Eliminacion por índice
print(amigos)
valor = amigos.pop(0) # Devuelve un elemento y lo borra de la lista
print(valor)
print(amigos)

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito']
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Pipi', 'Toto']
Mateo;Nico;Claudia;Ernestina;Paola;Chicharito;Chicharito
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito']
['Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito']
Nico
['Claudia', 'Ernestina', 'Paola', 'Chicharito']

In [ ]:
edades = [30, 48, 38, 30, 37]
print(edades.count(30)) # Cantidad de apariciones
print(len(edades)) # Largo de la lista
print(sorted(edades)) # Ordenamiento
print(edades)
print(sum(edades)) 
print(min(edades))
print(max(edades))

2
5
[30, 30, 37, 38, 48]
[30, 48, 38, 30, 37]
183
30
48

## Diccionarios

In [ ]:
dnis = {'Herrera':32676585, 'Guzmán':9564787, 
        'Pérez':5676898, 'Hernández':40565999, 
        'Abraham':28375814,
       "soy_una_llave":"soy_un_valor"} 
print(dnis['Abraham']) # noten que se usa la misma notación que con las listas, pero no es posible acceder por indices
print(dnis.keys()) # Muestra todas las llaves, devuelve un tipo dict_keys
print(type(dnis.keys()))
print(dnis.items()) # Muestra todos los pares de elementos, devuelve un tipo dict_items
print(type(dnis.items()))
dnis.pop('Herrera')   # metodo igual al de listas
print(dnis.items())
print(len(dnis))   # cantidad de pares

28375814
dict_keys(['Herrera', 'Guzmán', 'Pérez', 'Hernández', 'Abraham', 'soy_una_llave'])
<class 'dict_keys'>
dict_items([('Herrera', 32676585), ('Guzmán', 9564787), ('Pérez', 5676898), ('Hernández', 40565999), ('Abraham', 28375814), ('soy_una_llave', 'soy_un_valor')])
<class 'dict_items'>
dict_items([('Guzmán', 9564787), ('Pérez', 5676898), ('Hernández', 40565999), ('Abraham', 28375814), ('soy_una_llave', 'soy_un_valor')])
5

## Condicionales <a name="section-9"></a>

In [ ]:
precio_dolar = 62

if precio_dolar >= 90:
    print("El dólar se fue por las nubes")
elif (precio_dolar < 90) and (precio_dolar >= 70):
    print("El dolar subió")
else: 
    print("El dólar es menor a 70")

print(precio_dolar)

El dólar es menor a 70
62

## Bucles

### For loop

In [ ]:
for n in [1,2,'3']:
    print(f'EL tipo es {n*2} {type(n*2)}')

lista = [1,2,3,4,5]

for n in lista:
    print(n * 2)

EL tipo es 2 <class 'int'>
EL tipo es 4 <class 'int'>
EL tipo es 33 <class 'str'>
2
4
6
8
10

In [ ]:
for n in range(5):     # maneja un intervalo abierto
    print(n)
print("")
for n in range(0,5,2):# range puede recibir los parametros de start, stop, step
    print(n)

0
1
2
3
4

0
2
4

### While

In [ ]:
contador = 0

while contador < 5:
    contador += 1 # esto equivale a count = count + 1
    print(contador)

1
2
3
4
5

# Control de flujo

Contamos con 3 _keywords_ que modifican el orden de ejecución **dentro de un bucle**

- **continue**: interrumpe el flujo del bucle y retoma la ejecución en la siguiente iteración
- **break**: termina el bucle
- **pass**: no tiene efecto, se usa para evitar error cuando lo exige la sintáxis

In [ ]:
base = {
    1: {"nombre":"Fernanda",
        "apellido":"Fernandez",
        "dni":333333331},
    2: {"nombre":"Gonzalo",
        "apellido":"Gonzalez",
        "dni":333333332},
    3: {"nombre":"Rodrigo",
        "apellido":"Rodriguez",
        "dni":333333333}
    }

In [ ]:
dnis = [333333331, 333333336, 333333339, 333333332, None, 333333333]

In [ ]:
n_encontrados = 0

for dni in dnis: # itero por todos los dnis

    if type(dni) == int: # si el tipo es entero
        dni_encontrado = False # inicializo una variable con valor False, ya van a ver para qué :-)
        
        # Ahora viene la parte complicada, ¿cómo sé si ese dni ya está en mi base?
        # 1- Recordemos que base es un diccionario y como tal tiene el método items(), pruébenlo afuera de esta celda
        # me devuelve una tupla, con la llave en el primer elemento y el valor en el segundo
        
        # itero por todos los elementos
        for i in base.items(): 
            valor = i[1] # guardo el valor en una variable
            if dni == valor["dni"]: # si el dni es el mismo que estoy buscando...
                dni_encontrado = True
                nombre_completo = valor["nombre"] + " " + valor["apellido"]
                n_encontrados += 1 # esto equivale a encontrados = encontrados + 1, agrega uno
                break # freno la búsqueda, ésto evita que siga buscando

        if dni_encontrado: # entra acá si es True
            print(f"{nombre_completo.title()} ingreso a nuestra web")

        elif not dni_encontrado: # noten el not
            print(f'El dni {dni} no se encuentra en la base...')
            continue # sigo con la búsqueda, NO paso a la siguiente línea
            
        print(f"Hasta el momento se encontraron {n_encontrados} casos")
    
    else:
        pass # si dni no es un entero entonces no hacemos nada, suponemos que hubo algún tipo de error

Fernanda Fernandez ingreso a nuestra web
Hasta el momento se encontraron 1 casos
El dni 333333336 no se encuentra en la base...
El dni 333333339 no se encuentra en la base...
Gonzalo Gonzalez ingreso a nuestra web
Hasta el momento se encontraron 2 casos
Rodrigo Rodriguez ingreso a nuestra web
Hasta el momento se encontraron 3 casos

# Tupla

Una **tupla** es una secuencia **inmutable** de longitud fija. Las tuplas generalmente se utilizan para representar secuencias de elementos que tienen longitud fija.

In [ ]:
registro = ('Argentina', 112000, 'Bariloche')
print(registro[0])

Argentina

In [ ]:
# Unpacking: Con una tupla, o una lista podemos separar una secuencia en variables:
pais, poblacion, ciudad = registro

print("País:", pais)
print("Población:", poblacion)
print("Ciudad:", ciudad)

País: Argentina
Población: 112000
Ciudad: Bariloche

# Manejo de errores

### Tipos de errores
**AttributeError**: cuando tratamos de llamar a una referencia que no existe.

**NameError**: cuando se llama a una variable u otro nombre que no está definido en el ambiente en que estamos trabajando.

**KeyError**: cuando queremos llamar a una llave que no existe, por ejemplo, en un diccionario.

**SyntaxError**: cuando hay un problema de sintaxis, errores muy comunes al comienzo pueden ser que no se cerró una llave o corchete, que falta alguna coma o dos puntos.

**TypeError**: cuando el tipo de soporta una determinada operación.

**IndexError**: cuando el índice al que se quiere acceder no existe, generalmente debido a que se llama a un índice mayor al largo de la lista.

In [ ]:
a = '20'
b = 5

try:
    print(a+b)
except:
    print(int(a)+int(b)) # convierto a int ambas variables

25

In [ ]:
try:
    print(a+b)
except Exception as e:
    print(f"El error fue {e}")

El error fue can only concatenate str (not "int") to str

In [ ]:
lista_tuplas = [('3', 8), 
                (5, 0), 
                (3, ), 
                (4, 6)]

for t in lista_tuplas:
    print(f"la tupla es {t}")
    
    try:
        print("intento dividir...")
        print(t[0] / t[1])
        print("éxito!")
    except IndexError:
        print('El largo está mal')
    except TypeError:
        print('Error en el tipo de datos')
    except ZeroDivisionError:
        print("No se puede dividir por cero")

la tupla es ('3', 8)
intento dividir...
Error en el tipo de datos
la tupla es (5, 0)
intento dividir...
No se puede dividir por cero
la tupla es (3,)
intento dividir...
El largo está mal
la tupla es (4, 6)
intento dividir...
0.6666666666666666
éxito!

# Listas por comprensión (List Comprehension)

Las listas por comprensión son una funcionalidad muy flexible de Python que permite crear listas de un modo más "descriptivo", basandose en la notación de definición de conjuntos.

In [ ]:
lista = [1,2,3,4,5]
cuadrados = []
for x in lista:
    cuadrados.append(x**2)
print(cuadrados)

[1, 4, 9, 16, 25]

In [ ]:
cuadrados = [x**2 for x in lista]
print(cuadrados)

[1, 4, 9, 16, 25]

In [ ]:
cuadrados = [x**2 for x in lista if x**2 < 15]
cuadrados

[1, 4, 9]

La sintáxis para **filtrar** con condicionales es

> [ (elemento) ( for x in (iterable) ) ( if condicion ) ]

Donde "elemento" es lo que vayamos a guardar en la lista. Incluyendo un **else**:

> [ (elemento) (if condicion else otro_elemento) ( for x in (iterable) ) ]

Pueden hacerse loops anidados:

> [i for i in range(x) for j in range(y)]

Otra forma de pensar la sintaxis es a partir de teoría de conjuntos. Por ejemplo:
Un conjunto S definido por todos los números X / 4 que pertenecen a los Naturales y cumplen que su cuadrado es menor a 20

$$S=\{\,\frac{x}{4}\mid x \in \mathbb{N},\ x^2<60\,\}$$

In [ ]:
S = []
for x in range(1000):
    if x ** 2 < 60:
        S.append(x/4)
S

[0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75]

In [ ]:
S = [x/4 for x in range(1000) if x**2 < 60]
S

[0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75]

In [ ]:
for x in range(3):
    for y in 'abc':
        print(x,y)

0 a
0 b
0 c
1 a
1 b
1 c
2 a
2 b
2 c

In [ ]:
[(x, y) for x in range(3) for y in 'abc']

[(0, 'a'),
 (0, 'b'),
 (0, 'c'),
 (1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c')]

O comprensiones anidadas:

> [ [i for i in range(x) ] for j in range(y) ]

In [ ]:
[[l*n for l in 'abc'] for n in range(3)]

[['', '', ''], ['a', 'b', 'c'], ['aa', 'bb', 'cc']]

In [ ]:
# los elementos tambien pueden ser tuplas
animales = ['mantarraya', 'pandas', 'narval', 'unicornio']
[(a, len(a)) for a in animales]

[('mantarraya', 10), ('pandas', 6), ('narval', 6), ('unicornio', 9)]

In [ ]:
lista = ['a','ante','bajo','cabe','con']
s = [i[0] for i in lista]  # devuelve la primera letra de ada
print(s)

['a', 'a', 'b', 'c', 'c']

In [ ]:
frase = 'Cambiar el mundo, amigo Sancho, no es ni utopía ni locura, es justicia'
print([len(palabra) for palabra in frase.replace(",", "").split()])

[7, 2, 5, 5, 6, 2, 2, 2, 6, 2, 6, 2, 8]

# I/O

Existen varios modos de abrir un archivo, incluyendo:

    - r: read, lectura
    - w: write, escritura
    - a: append, agregar al final del archivo
   
Por ejemplo, para escribir en un archivo, haríamos:

    with open(outpath, 'w') as f:
        f.write(string)

In [ ]:
with open('nuevo.txt', 'w') as f:
    f.write('ejemplo de escritura')

In [ ]:
with open('nuevo.txt', 'r') as f:
    contenido = f.read()

print(contenido)

ejemplo de escritura

In [ ]:
while True:
    usuario_dijo = input('Ingrese un numero')

    try:
        num = int(usuario_dijo)
        break
    except:
        print('No anduvo, intente de nuevo')

print(f'Su numero fue {num}! :D')

Ingrese un numerohola
No anduvo, intente de nuevo
Ingrese un numero123
Su numero fue 123! :D

# **Funciones**

In [ ]:
def promedio(lista):
    return sum(lista) / len(lista)

In [ ]:
resultado = promedio([0,1,2,3]) # asigno el resultado
print(resultado)

1.5

In [ ]:
def suma(a,b):
    """Esta función recibe dos numeros y devuelve la suma"""
    return a+b

In [ ]:
r = suma(3,5) # asigno el resultado
print(r)

8

In [ ]:
# parametro por default
def unir_lista(lista, conector=' '):
    """Esta funcion recibe dos argumentos, una lista y un conector
    y devuelve la lista unida usando el conector."""    
    unida = conector.join([str(e) for e in lista])    
    return unida

print(unir_lista(['unir',3,'cosas']))
print(unir_lista(['unir',3,'cosas'],conector = ',') )

unir 3 cosas
unir,3,cosas

Existen distintos tipos de argumentos, principalmente los llamados "args" y "kwargs", o argumentos y "keyword arguments" es decir argumentos nombrados.

También podemos tener un numero variable de argumentos, usando el symbolo *, por conveción al parámetro se le llama 'args'

Internamente, los elementos de *args se tratan como una tupla

In [ ]:
def suma_todos(*args):
    print(type(args))
    return sum(args)

In [ ]:
suma_todos(9,1,4,2)

<class 'tuple'>

16

In [ ]:
def consulta(**kwargs):
    print(type(kwargs))
    texto = f"Su consulta es {kwargs['fecha']} a las {kwargs['hora']}"
    return texto

# Algoritmos

## Palíndromos

Vamos a definir tres funciones llamadas es_palindromo y para testear su funcionamiento vamos a chequear que:

1- es_palindromo("ana") == True

2- es_palindromo("barrilete cósmico") != True

3- es_palindromo("yo hago yoga hoy") == True

4- es_palindromo("arriba la birra") == True

5- es_palindromo("arriba la barra") != True

In [ ]:
texto_1 = "ana"
texto_2 = "barrilete cosmico"
texto_3 = "yo hago yoga hoy"
texto_4 = "arriba la birra"
texto_5 = "arriba la barra"

In [ ]:
def es_palindromo(texto):
    texto = texto.replace(" ", "")
    # vean cómo podemos hacer slicing por un string, en sentido inverso, recorriendo la lista de atrás para adelante.
    return texto == texto[::-1]

In [ ]:
# assert nos permite controlar que una condición se cumpla, si no da True devuelve un AssertionError con el mensaje de la derecha
assert es_palindromo(texto_1) == True, "falló el test"
assert es_palindromo(texto_2) != True, "falló el test"
assert es_palindromo(texto_3) == True, "falló el test"
assert es_palindromo(texto_4) == True, "falló el test"
assert es_palindromo(texto_5) != True, "falló el test"

## Secuencia de Fibonacci

In [ ]:
def fibo(n):
    """
    Inicializo a y b. En este caso "a" sería F_n-2 (F_0 al inicializarse) 
    y "b" F_n-1 (F_1 al inicializarse)
    """
    
    a, b = 0, 1
    secuencia = [a, b]
    
    if n == 0:
        return a
    elif n == 1:
        return b
    
    n_actual = 2 # número de iteración
    while n_actual < n:
        n_actual += 1 # sumo 1 a la iteración actual
        a, b = b, a + b # Este truquito es importante! 
        secuencia.append(b) # guardo el nuevo b
    return secuencia

In [ ]:
print(fibo(10))
%timeit fibo(10)
%timeit fibo(20)
%timeit fibo(30)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
The slowest run took 4.76 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 1.48 µs per loop
100000 loops, best of 5: 3.13 µs per loop
100000 loops, best of 5: 4.73 µs per loop

## Merge sorted array

In [ ]:
def merge_sorted(lista_1,lista_2):
    resultado = []
    while len(lista_1) > 0 or len(lista_2) > 0: # mientras alguna lista tenga valores
        # Vamos a recorrer las listas hasta que no queden más elementos en ninguna.
        if len(lista_1) > 0: # si la primera lista tiene valores
            if len(lista_2) > 0:
                # Este es el caso donde quedan elementos en las dos listas. 
                # Aquí elegimos el menor de los primeros elementos
                if lista_1[0] <= lista_2[0]:
                    resultado.append(lista_1.pop(0))
                else:
                    resultado.append(lista_2.pop(0))
            else:
                # Este es el caso donde lista_1 todavía tiene elementos pero lista_2 no
                resultado.append(lista_1.pop(0))
        else:
            # Si no quedan elementos en la lista_1 pero seguimos dentro del while loop, 
            # es porque quedan elementos en la lista2
            resultado.append(lista_2.pop(0))
    return resultado

In [ ]:
lista1 = [0,3,5,8,9]
lista2 = [4,5,6]
merge_sorted(lista1,lista2)

[0, 3, 4, 5, 5, 6, 8, 9]

## Bubble Sort

In [ ]:
def bubble_sort(lista):
    # n igual al largo de la lista
    n = len(lista)
    
    # Vamos a realizar una 'pasada' por cada elemento que tenemos en la lista.
    
    for i in range(n): 
        
        # Creamos una variable que sirve como 'flag' para indicar si tuvimos que ordenar o no en la pasada actual
        # Esto lo podemos usar para terminar el algoritmo antes, ya que si no tuvimos que cambiar nada
        # en una pasada, tampoco lo vamos a tener que hacer en la siguiente
        
        ordenado = True
        
        # Vamos a comenzar recorriendo la lista de IZQUIERDA a DERECHA pero no hasta el final
        # Recordemos que con cada 'pasada' vamos a haber encontrado el valor más alto aún sin ordenar
        # Con lo cual, vamos a recorrer la lista desde el comienzo hasta el final menos los valores que ya ordenamos antes
        # Tip: recuerden que el índice de una lista tiene como máximo el valor de la longitud - 1 porque arranca en 0
        
        for j in range(n-i-1): # COMPLETAR: argumento de la función range()

            if lista[j] > lista[j+1]: # COMPLETAR: si el valor de la IZQUIERDA es mayor al de la derecha
                
                # Si es mayor, entonces vamos a intercambiar la posición del valor de la derecha con el de la izquierda
                
                # COMPLETAR: cambiar el valor de la izquierda por el de la derecha
                lista[j], lista[j+1] = lista[j+1], lista[j]

                # Como tuvimos que ordenar un par de elementos entonces tenemos que cambiar el flag
                # COMPLETAR: cambiar ordenado a False
                ordenado = False


        # Si no tuvimos que ordenar, salimos del loop
        if ordenado:
            # COMPLETAR: frenar loop
            break

    return lista

In [ ]:
lista_1 = [1,3,5,1,32,9,0,-1]
bubble_sort(lista_1)

[-1, 0, 1, 1, 3, 5, 9, 32]

# Librerías o módulos

1. Importar todo el módulo con el mismo nombre que tiene

<code>import datetime</code>

2. Importar el módulo con un alias más corto (por comodidad)

<code>import datetime as dt</code>

3. Importar únicamente un sub-módulo

<code>from datetime import datetime</code>

In [ ]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
# modulo propio
with open('misfunciones.py', 'w') as out:
    out.write("""def misuma(a,b):
        print('Sumando!')
        return a+b""")

In [ ]:
from misfunciones import misuma

misuma(3,2)

Sumando!

5

In [ ]:
# Modulos de terceros
# se agrega ! para ejecutar code bash en notebook
# pip install [nombre del paquete]</code>
# pip install [nombre del paquete][==version]</code>
!pip install seaborn==0.9.0

In [ ]:
# Con este comando podemos consultar la versión de cualquier módulo.
import pandas as pd
pd.__version__

'1.1.5'

# POO

## Clases
Aquellos atributos y métodos que queremos que los objetos conserven son definidos como parte del constructor. El constructor en Python es el método reservado **\_\_init\_\_()**. Este método se llama cuando se instancia la clase y en ese momento se inicializan los atributos de la clase, para lo cual podemos pasar parámetros.

Además, vamos a emplear el término reservado **self** para indicar aquellos atributos y métodos que van a ser propios de la instancia. Veámoslo con un ejemplo.

In [ ]:
class Persona():
  # __init__ es el constructor, se utiliza para instanciar los atributos o para valores por default
  def __init__(self, nombre, apellido, edad, contacto):
    # Este método puede tomar parámetros que asignamos a los atributos, que luego podemos acceder
    self.edad = edad
    self.contacto = contacto
    self.nombre = nombre
    self.apellido = apellido
  
  def nombre_completo(self):
    # este método muestra el nombre completo a partir del nombre y apellido 
    nombre_completo = ', '.join([self.apellido,self.nombre])
    return nombre_completo

  def saludar(self):
      print(f'Hola mi nombre es {self.nombre_completo()}',
            f'y te dejo mi mail por si necesitás algo: {self.contacto}')

In [ ]:
instancia_ejemplo = Persona('Matías Andrés','Ripley', 24, 'mati@rip.com')
instancia_ejemplo.saludar()

Hola mi nombre es Ripley, Matías Andrés y te dejo mi mail por si necesitás algo: mati@rip.com

In [ ]:
instancia_ejemplo.nombre_completo()

'Ripley, Matías Andrés'

In [ ]:
class Menu():
    def __init__(self, items):
        self.items = items
    
    def precio(self, lista_items):
        precio = 0
        for nombre_item in lista_items:
            precio = precio + self.items[nombre_item]
        return precio
    
    def tamaño(self):
        return len(self.items)

In [ ]:
# Envio un diccionario:
mi_menu = Menu({'latte':25, 'medialuna':15})

¿Cuánto salen un latte y dos madialunas? ¿Cuántos ítems tenemos?

In [ ]:
print(mi_menu.precio(['latte','medialuna','medialuna']) )
print(mi_menu.tamaño())

55
2

¿Cuántos cuestan 10 lattes y 30 medialunas?

In [ ]:
class Menu():
    def __init__(self, items):
        self.items = items
    
    def precio(self, lista_items):
        precio_total = 0
        for item_pedido in lista_items:
            nombre_producto = item_pedido['nombre']
            precio_producto = self.items[nombre_producto]
            cantidad = item_pedido['cantidad']
            precio_total = precio_total + precio_producto * cantidad
        return precio_total
    
    def tamaño(self):
        return len(self.items)

In [ ]:
# Instanciación 
mi_menu = Menu({'latte':25, 'medialuna':15})

In [ ]:
mi_menu.precio([{'nombre':'latte', 'cantidad':10}, 
                {'nombre':'medialuna', 'cantidad':30}])

700

In [ ]:
lista = ([{'nombre':'latte', 'cantidad':10}, 
          {'nombre':'medialuna', 'cantidad':30}])

In [ ]:
# Acceso a item de diccionario en lista
#print(lista[0]['nombre'])
for item_lista in lista:
  print(item_lista['nombre'])

latte
medialuna

Los atributos también son conocidos como variables de instancia, en contraposición a las variables de clase. Las variables de instancia toman un valor específico a una instancia en particular (por eso se emplea el término **self**), por su parte, las variables de clase tienen un valor común para todas las instancias de una clase. Por convención las variables de clase se definen antes del constructor y no llevan **self** en su definición pero sí cuando se la quiere llamar.

Sobre *self*:

In [1]:
class SomeClass:
    def __init__(self):
        self.arr = [] 
        #All SomeClass objects will have an array arr by default
    
    def insert_to_arr(self, value):
        self.arr.append(value)

In [7]:
obj1 = SomeClass()
obj2 = SomeClass()
obj1.insert_to_arr(6)
# Python convierte obj1.insert_to_arr(6) a algo asi: SomeClass.inseart_to_arr(obj1, 6)
# por eso el uso de self y la razon por la que no se envía un parámetro
print(obj1.arr[0])

6

In [8]:
class Curso:
    max_alumnos = 35 # definimos variable de clase

    # Constructor
    def __init__(self, nombre, duracion, alumnos = None, costo=10):
        self.nombre = nombre
        self.duracion = duracion
        if alumnos is None:
            self.alumnos = []
        else:
            self.alumnos = alumnos
        self.costo = costo # costo tiene un valor por default
        """¿Por qué ese if? Las variables por default sólo se evalúan a la hora de ejecutar la sentencia def. 
        En nuestro caso necesitamos que self.alumnos sea una lista y las listas son objetos mutables. 
        Esto quiere decir que podemos modificarla sin volver a asignarla. Si en vez de 'alumnos = None' usáramos
        alumnos = [], entonces con cada nueva instancia del objeto estaríamos compartiendo los alumnos.
        Para evitar eso, en general la forma pythónica de hacerlo es usando None por default y asignando el valor
        deseado dentro de la función y no en el 'def' """

    def inscribir_alumno(self, nombre):
        self.alumnos.append(nombre) # para poder llamar a alumnos tengo que usar self.
        print(f'Se agregó al alumno/a {nombre}')

    def tomar_lista(self):
        for a in self.alumnos:
            print(f'Alumno: {a}')

    def resumen(self):
        print(f'Curso {self.nombre}, {self.duracion} clases pensadas para {len(self.alumnos)} alumnos\n'
              f'Por el muy módico precio de {self.costo} rupias.',
              # llamo variable de clase:
              f'La ocupación actual es del {round(len(self.alumnos)/self.max_alumnos,2)*100}%')

In [13]:
curso_python.nombre

'Python'

In [10]:
curso_python = Curso('Python', 6)