<a href="https://colab.research.google.com/github/CarlosRochaA/codes-python-/blob/main/codes-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Datos

In [4]:
x = 5
y = 17

print(x+y) # suma
print(x*2) # multiplicacion
print(x**(1/2)) # elevado a 
print(y / x) # División
print(y // x)  # Parte entera de la división
print(y % x) # Devuelve el resto

type(x), type(y)

22
10
2.23606797749979
3.4
3
2

(int, int)

## Operadores diponibles

Los operadores disponibles son: 

    Relacionales:
    - >= , <=, <, > : Mayor o igual, menor o igual, mayor o menor
    - != , == : Distinto, Igual
    - in : Contenido por 
    Lógicos:
    - not o ~ : Negación
    - and o & : Ambas verdaderas
    - or o | : Una u otra es verdadera
    
Como booleanos, se pueden utilizar tanto 0 y 1 como True y False.

## Strings

También podemos usar los índices para traer más de un elemento al mismo tiempo, usando el **slicing**. El slicing lleva tres parámetros: comienzo (start), final (stop) e intervalo o paso (step).

- El parámetro comienzo (start) indica la primera posición incluida en la selección, por default es 0.

- El parámetro final (stop) es la primera posición que NO va a estar incluída, por default se incluyen todos los elementos. 

- El parámetro intervalo o paso (step), es optativo e indica el tamaño del paso entre seleccionar un elemento y el siguiente, por default el paso es 1. El paso también puede ser negativo, en este caso contamos desde el final hacia el comienzo, esto es muy útil para dar vuelta los strings...

    
    [comienzo : final : intervalo] (en inglés es [start : stop : step] )
    
    
El intervalo que se recibe es semi-abierto (indice_primero, indice_segundo], es decir se incluye el primero y no el segundo valor. Se admiten números negativos, que contabilizan desde el final.

In [9]:
texto = "programación en python"
print(texto[0])
print(texto[:])
print(texto[:1])
print(texto[1:4])
print(texto[::-1])
print(texto[16:23])
print(texto[-6:])
print(texto[-6:23:1])
print(texto.upper())
print(texto.title())
print(texto.split()) # Devuelve una lista

p
programación en python
p
rog
nohtyp ne nóicamargorp
python
python
python
PROGRAMACIÓN EN PYTHON
Programación En Python
['programación', 'en', 'python']

Otras formas de combinar texto

In [18]:
tema = 'data science'
modales = 'por favor'
print('Dame información de {0} si esta disponible, {1}'.format(tema, modales))
print(f'Dame información de {tema.upper()} si esta disponible, {modales}') # mas utilizada
print("1000".isdigit()) # verifica si un texto se puede castear como entero
print("   quitando espacios  ".strip()) # quita espacios adelante y atras
texto = "Me gusta el 37" # Piso el contenido de la variable para hacer otras pruebas
print(texto.replace(' ', '...'))
print(texto.isalpha())
texto = "Me" # Piso el contenido de la variable
print(texto.isalpha()) # pregunta si todo esta compuesto por letras o es una combinacion
str1 = "Hola"
str2 = "qué tal"
print( f"{str1}{str2}")
resultado = f"{str1} {str2}" # Note el espacio
print(resultado)

Dame información de data science si esta disponible, por favor
Dame información de DATA SCIENCE si esta disponible, por favor
True
quitando espacios
Me...gusta...el...37
False
True
Holaqué tal
Hola qué tal

## Listas

In [34]:
amigos =  ['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
print(amigos[0])  # Devuelve un string
print(type(amigos[0]))
print(amigos[:1]) # arranco en 0 y el primero sin incluir es el 1, con el paso default (1), devuelve una lista
print(type(amigos[:1]))
print(" ")
print(amigos[-1]) # Último elemento, devuelve un string
print(amigos[:]) # arranco en 0 hasta el final, con el paso default (1)
print(amigos[:-1]) # excluímos el último elemento
print(amigos[::2]) # salteamos un elemento a la vez
print(amigos[::-1]) # lista de atras hacia adelante

Mateo
<class 'str'>
['Mateo']
<class 'list'>

Paola
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
['Mateo', 'Nico', 'Claudia', 'Ernestina']
['Mateo', 'Claudia', 'Paola']
['Paola', 'Ernestina', 'Claudia', 'Nico', 'Mateo']

In [3]:
amigos =  ['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
# Formas de agregar items a la 
amigos.append('Chicharito')
# print(amigos)
amigos = amigos + ['Chicharito']
print(amigos)
# Suma de listas
print(amigos + ['Pipi', 'Toto'])
amigos_sep = ';'.join(amigos) # devuelve un string  
print(amigos_sep)  
amigos.remove('Chicharito') # Elimina sólo un elemento, la primera coincidencia
print(amigos)
del amigos[0]   # Eliminacion por índice
print(amigos)
valor = amigos.pop(0) # Devuelve un elemento y lo borra de la lista
print(valor)
print(amigos)

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito']
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Pipi', 'Toto']
Mateo;Nico;Claudia;Ernestina;Paola;Chicharito;Chicharito
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito']
['Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito']
Nico
['Claudia', 'Ernestina', 'Paola', 'Chicharito']

In [10]:
edades = [30, 48, 38, 30, 37]
print(edades.count(30)) # Cantidad de apariciones
print(len(edades)) # Largo de la lista
print(sorted(edades)) # Ordenamiento
print(edades)
print(sum(edades)) 
print(min(edades))
print(max(edades))

2
5
[30, 30, 37, 38, 48]
[30, 48, 38, 30, 37]
183
30
48

## Diccionarios

In [16]:
dnis = {'Herrera':32676585, 'Guzmán':9564787, 
        'Pérez':5676898, 'Hernández':40565999, 
        'Abraham':28375814,
       "soy_una_llave":"soy_un_valor"} 
print(dnis['Abraham']) # noten que se usa la misma notación que con las listas, pero no es posible acceder por indices
print(dnis.keys()) # Muestra todas las llaves, devuelve un tipo dict_keys
print(type(dnis.keys()))
print(dnis.items()) # Muestra todos los pares de elementos, devuelve un tipo dict_items
print(type(dnis.items()))
dnis.pop('Herrera')   # metodo igual al de listas
print(dnis.items())
print(len(dnis))   # cantidad de pares

28375814
dict_keys(['Herrera', 'Guzmán', 'Pérez', 'Hernández', 'Abraham', 'soy_una_llave'])
<class 'dict_keys'>
dict_items([('Herrera', 32676585), ('Guzmán', 9564787), ('Pérez', 5676898), ('Hernández', 40565999), ('Abraham', 28375814), ('soy_una_llave', 'soy_un_valor')])
<class 'dict_items'>
dict_items([('Guzmán', 9564787), ('Pérez', 5676898), ('Hernández', 40565999), ('Abraham', 28375814), ('soy_una_llave', 'soy_un_valor')])
5

## Condicionales <a name="section-9"></a>

In [18]:
precio_dolar = 62

if precio_dolar >= 90:
    print("El dólar se fue por las nubes")
elif (precio_dolar < 90) and (precio_dolar >= 70):
    print("El dolar subió")
else: 
    print("El dólar es menor a 70")

print(precio_dolar)

El dólar es menor a 70
62

## Bucles

### For loop

In [19]:
for n in [1,2,'3']:
    print(f'EL tipo es {n*2} {type(n*2)}')

lista = [1,2,3,4,5]

for n in lista:
    print(n * 2)

EL tipo es 2 <class 'int'>
EL tipo es 4 <class 'int'>
EL tipo es 33 <class 'str'>
2
4
6
8
10

In [21]:
for n in range(5):     # maneja un intervalo abierto
    print(n)
print("")
for n in range(0,5,2):# range puede recibir los parametros de start, stop, step
    print(n)

0
1
2
3
4

0
2
4

### While

In [2]:
contador = 0

while contador < 5:
    contador += 1 # esto equivale a count = count + 1
    print(contador)

1
2
3
4
5

# Control de flujo
Contamos con 3 _keywords_ que modifican el orden de ejecución **dentro de un bucle**

- **continue**: interrumpe el flujo del bucle y retoma la ejecución en la siguiente iteración
- **break**: termina el bucle
- **pass**: no tiene efecto, se usa para evitar error cuando lo exige la sintáxis

In [3]:
base = {
    1: {"nombre":"Fernanda",
        "apellido":"Fernandez",
        "dni":333333331},
    2: {"nombre":"Gonzalo",
        "apellido":"Gonzalez",
        "dni":333333332},
    3: {"nombre":"Rodrigo",
        "apellido":"Rodriguez",
        "dni":333333333}
    }

In [4]:
dnis = [333333331, 333333336, 333333339, 333333332, None, 333333333]

In [5]:
n_encontrados = 0

for dni in dnis: # itero por todos los dnis

    if type(dni) == int: # si el tipo es entero
        dni_encontrado = False # inicializo una variable con valor False, ya van a ver para qué :-)
        
        # Ahora viene la parte complicada, ¿cómo sé si ese dni ya está en mi base?
        # 1- Recordemos que base es un diccionario y como tal tiene el método items(), pruébenlo afuera de esta celda
        # me devuelve una tupla, con la llave en el primer elemento y el valor en el segundo
        
        # itero por todos los elementos
        for i in base.items(): 
            valor = i[1] # guardo el valor en una variable
            if dni == valor["dni"]: # si el dni es el mismo que estoy buscando...
                dni_encontrado = True
                nombre_completo = valor["nombre"] + " " + valor["apellido"]
                n_encontrados += 1 # esto equivale a encontrados = encontrados + 1, agrega uno
                break # freno la búsqueda, ésto evita que siga buscando

        if dni_encontrado: # entra acá si es True
            print(f"{nombre_completo.title()} ingreso a nuestra web")

        elif not dni_encontrado: # noten el not
            print(f'El dni {dni} no se encuentra en la base...')
            continue # sigo con la búsqueda, NO paso a la siguiente línea
            
        print(f"Hasta el momento se encontraron {n_encontrados} casos")
    
    else:
        pass # si dni no es un entero entonces no hacemos nada, suponemos que hubo algún tipo de error

Fernanda Fernandez ingreso a nuestra web
Hasta el momento se encontraron 1 casos
El dni 333333336 no se encuentra en la base...
El dni 333333339 no se encuentra en la base...
Gonzalo Gonzalez ingreso a nuestra web
Hasta el momento se encontraron 2 casos
Rodrigo Rodriguez ingreso a nuestra web
Hasta el momento se encontraron 3 casos

# Tupla
Una **tupla** es una secuencia **inmutable** de longitud fija. Las tuplas generalmente se utilizan para representar secuencias de elementos que tienen longitud fija.

In [6]:
registro = ('Argentina', 112000, 'Bariloche')
print(registro[0])

Argentina

In [7]:
# Unpacking: Con una tupla, o una lista podemos separar una secuencia en variables:
pais, poblacion, ciudad = registro

print("País:", pais)
print("Población:", poblacion)
print("Ciudad:", ciudad)

País: Argentina
Población: 112000
Ciudad: Bariloche

# Manejo de errores
### Tipos de errores
**AttributeError**: cuando tratamos de llamar a una referencia que no existe.

**NameError**: cuando se llama a una variable u otro nombre que no está definido en el ambiente en que estamos trabajando.

**KeyError**: cuando queremos llamar a una llave que no existe, por ejemplo, en un diccionario.

**SyntaxError**: cuando hay un problema de sintaxis, errores muy comunes al comienzo pueden ser que no se cerró una llave o corchete, que falta alguna coma o dos puntos.

**TypeError**: cuando el tipo de soporta una determinada operación.

**IndexError**: cuando el índice al que se quiere acceder no existe, generalmente debido a que se llama a un índice mayor al largo de la lista.

In [8]:
a = '20'
b = 5

try:
    print(a+b)
except:
    print(int(a)+int(b)) # convierto a int ambas variables

25

In [9]:
try:
    print(a+b)
except Exception as e:
    print(f"El error fue {e}")

El error fue can only concatenate str (not "int") to str

In [10]:
lista_tuplas = [('3', 8), 
                (5, 0), 
                (3, ), 
                (4, 6)]

for t in lista_tuplas:
    print(f"la tupla es {t}")
    
    try:
        print("intento dividir...")
        print(t[0] / t[1])
        print("éxito!")
    except IndexError:
        print('El largo está mal')
    except TypeError:
        print('Error en el tipo de datos')
    except ZeroDivisionError:
        print("No se puede dividir por cero")

la tupla es ('3', 8)
intento dividir...
Error en el tipo de datos
la tupla es (5, 0)
intento dividir...
No se puede dividir por cero
la tupla es (3,)
intento dividir...
El largo está mal
la tupla es (4, 6)
intento dividir...
0.6666666666666666
éxito!

# Listas por comprensión (List Comprehension)
Las listas por comprensión son una funcionalidad muy flexible de Python que permite crear listas de un modo más "descriptivo", basandose en la notación de definición de conjuntos.

In [13]:
lista = [1,2,3,4,5]
cuadrados = []
for x in lista:
    cuadrados.append(x**2)
print(cuadrados)

[1, 4, 9, 16, 25]

In [15]:
cuadrados = [x**2 for x in lista]
print(cuadrados)

[1, 4, 9, 16, 25]

In [17]:
cuadrados = [x**2 for x in lista if x**2 < 15]
cuadrados

[1, 4, 9]

La sintáxis para **filtrar** con condicionales es

> [ (elemento) ( for x in (iterable) ) ( if condicion ) ]

Donde "elemento" es lo que vayamos a guardar en la lista. Incluyendo un **else**:

> [ (elemento) (if condicion else otro_elemento) ( for x in (iterable) ) ]

Pueden hacerse loops anidados:

> [i for i in range(x) for j in range(y)]

Otra forma de pensar la sintaxis es a partir de teoría de conjuntos. Por ejemplo:
Un conjunto S definido por todos los números X / 4 que pertenecen a los Naturales y cumplen que su cuadrado es menor a 20

$$S=\{\,\frac{x}{4}\mid x \in \mathbb{N},\ x^2<60\,\}$$

In [18]:
S = []
for x in range(1000):
    if x ** 2 < 60:
        S.append(x/4)
S

[0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75]

In [19]:
S = [x/4 for x in range(1000) if x**2 < 60]
S

[0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75]

In [20]:
for x in range(3):
    for y in 'abc':
        print(x,y)

0 a
0 b
0 c
1 a
1 b
1 c
2 a
2 b
2 c

In [21]:
[(x, y) for x in range(3) for y in 'abc']

[(0, 'a'),
 (0, 'b'),
 (0, 'c'),
 (1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c')]

O comprensiones anidadas:

> [ [i for i in range(x) ] for j in range(y) ]

In [24]:
[[l*n for l in 'abc'] for n in range(3)]

[['', '', ''], ['a', 'b', 'c'], ['aa', 'bb', 'cc']]

In [25]:
# los elementos tambien pueden ser tuplas
animales = ['mantarraya', 'pandas', 'narval', 'unicornio']
[(a, len(a)) for a in animales]

[('mantarraya', 10), ('pandas', 6), ('narval', 6), ('unicornio', 9)]

In [35]:
lista = ['a','ante','bajo','cabe','con']
s = [i[0] for i in lista]  # devuelve la primera letra de ada
print(s)

['a', 'a', 'b', 'c', 'c']

In [38]:
frase = 'Cambiar el mundo, amigo Sancho, no es ni utopía ni locura, es justicia'
print([len(palabra) for palabra in frase.replace(",", "").split()])

[7, 2, 5, 5, 6, 2, 2, 2, 6, 2, 6, 2, 8]

# I/O
Existen varios modos de abrir un archivo, incluyendo:

    - r: read, lectura
    - w: write, escritura
    - a: append, agregar al final del archivo
   
Por ejemplo, para escribir en un archivo, haríamos:

    with open(outpath, 'w') as f:
        f.write(string)

In [39]:
with open('nuevo.txt', 'w') as f:
    f.write('ejemplo de escritura')

In [40]:
with open('nuevo.txt', 'r') as f:
    contenido = f.read()

print(contenido)

ejemplo de escritura

In [41]:
while True:
    usuario_dijo = input('Ingrese un numero')

    try:
        num = int(usuario_dijo)
        break
    except:
        print('No anduvo, intente de nuevo')

print(f'Su numero fue {num}! :D')

Ingrese un numerohola
No anduvo, intente de nuevo
Ingrese un numero123
Su numero fue 123! :D

# Fuciones

In [42]:
def promedio(lista):
    return sum(lista) / len(lista)

In [43]:
resultado = promedio([0,1,2,3]) # asigno el resultado
print(resultado)

1.5

In [44]:
def suma(a,b):
    """Esta función recibe dos numeros y devuelve la suma"""
    return a+b

In [45]:
r = suma(3,5) # asigno el resultado
print(r)

8

In [48]:
# parametro por default
def unir_lista(lista, conector=' '):
    """Esta funcion recibe dos argumentos, una lista y un conector
    y devuelve la lista unida usando el conector."""    
    unida = conector.join([str(e) for e in lista])    
    return unida

print(unir_lista(['unir',3,'cosas']))
print(unir_lista(['unir',3,'cosas'],conector = ',') )

unir 3 cosas
unir,3,cosas

Existen distintos tipos de argumentos, principalmente los llamados "args" y "kwargs", o argumentos y "keyword arguments" es decir argumentos nombrados.

También podemos tener un numero variable de argumentos, usando el symbolo *, por conveción al parámetro se le llama 'args'

Internamente, los elementos de *args se tratan como una tupla

In [49]:
def suma_todos(*args):
    print(type(args))
    return sum(args)

In [50]:
suma_todos(9,1,4,2)

<class 'tuple'>

16

In [ ]:
def consulta(**kwargs):
    print(type(kwargs))
    texto = f"Su consulta es {kwargs['fecha']} a las {kwargs['hora']}"
    return texto