<a href="https://colab.research.google.com/github/CarlosRochaA/codes-python-/blob/main/codes-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Datos

In [4]:
x = 5
y = 17

print(x+y) # suma
print(x*2) # multiplicacion
print(x**(1/2)) # elevado a 
print(y / x) # División
print(y // x)  # Parte entera de la división
print(y % x) # Devuelve el resto

type(x), type(y)

22
10
2.23606797749979
3.4
3
2

(int, int)

## Operadores diponibles

Los operadores disponibles son: 

    Relacionales:
    - >= , <=, <, > : Mayor o igual, menor o igual, mayor o menor
    - != , == : Distinto, Igual
    - in : Contenido por 
    Lógicos:
    - not o ~ : Negación
    - and o & : Ambas verdaderas
    - or o | : Una u otra es verdadera
    
Como booleanos, se pueden utilizar tanto 0 y 1 como True y False.

## Strings

También podemos usar los índices para traer más de un elemento al mismo tiempo, usando el **slicing**. El slicing lleva tres parámetros: comienzo (start), final (stop) e intervalo o paso (step).

- El parámetro comienzo (start) indica la primera posición incluida en la selección, por default es 0.

- El parámetro final (stop) es la primera posición que NO va a estar incluída, por default se incluyen todos los elementos. 

- El parámetro intervalo o paso (step), es optativo e indica el tamaño del paso entre seleccionar un elemento y el siguiente, por default el paso es 1. El paso también puede ser negativo, en este caso contamos desde el final hacia el comienzo, esto es muy útil para dar vuelta los strings...

    
    [comienzo : final : intervalo] (en inglés es [start : stop : step] )
    
    
El intervalo que se recibe es semi-abierto (indice_primero, indice_segundo], es decir se incluye el primero y no el segundo valor. Se admiten números negativos, que contabilizan desde el final.

In [9]:
texto = "programación en python"
print(texto[0])
print(texto[:])
print(texto[:1])
print(texto[1:4])
print(texto[::-1])
print(texto[16:23])
print(texto[-6:])
print(texto[-6:23:1])
print(texto.upper())
print(texto.title())
print(texto.split()) # Devuelve una lista

p
programación en python
p
rog
nohtyp ne nóicamargorp
python
python
python
PROGRAMACIÓN EN PYTHON
Programación En Python
['programación', 'en', 'python']

Otras formas de combinar texto

In [18]:
tema = 'data science'
modales = 'por favor'
print('Dame información de {0} si esta disponible, {1}'.format(tema, modales))
print(f'Dame información de {tema.upper()} si esta disponible, {modales}') # mas utilizada
print("1000".isdigit()) # verifica si un texto se puede castear como entero
print("   quitando espacios  ".strip()) # quita espacios adelante y atras
texto = "Me gusta el 37" # Piso el contenido de la variable para hacer otras pruebas
print(texto.replace(' ', '...'))
print(texto.isalpha())
texto = "Me" # Piso el contenido de la variable
print(texto.isalpha()) # pregunta si todo esta compuesto por letras o es una combinacion
str1 = "Hola"
str2 = "qué tal"
print( f"{str1}{str2}")
resultado = f"{str1} {str2}" # Note el espacio
print(resultado)

Dame información de data science si esta disponible, por favor
Dame información de DATA SCIENCE si esta disponible, por favor
True
quitando espacios
Me...gusta...el...37
False
True
Holaqué tal
Hola qué tal

## Listas

In [34]:
amigos =  ['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
print(amigos[0])  # Devuelve un string
print(type(amigos[0]))
print(amigos[:1]) # arranco en 0 y el primero sin incluir es el 1, con el paso default (1), devuelve una lista
print(type(amigos[:1]))
print(" ")
print(amigos[-1]) # Último elemento, devuelve un string
print(amigos[:]) # arranco en 0 hasta el final, con el paso default (1)
print(amigos[:-1]) # excluímos el último elemento
print(amigos[::2]) # salteamos un elemento a la vez
print(amigos[::-1]) # lista de atras hacia adelante

Mateo
<class 'str'>
['Mateo']
<class 'list'>

Paola
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
['Mateo', 'Nico', 'Claudia', 'Ernestina']
['Mateo', 'Claudia', 'Paola']
['Paola', 'Ernestina', 'Claudia', 'Nico', 'Mateo']

In [3]:
amigos =  ['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']
# Formas de agregar items a la 
amigos.append('Chicharito')
# print(amigos)
amigos = amigos + ['Chicharito']
print(amigos)
# Suma de listas
print(amigos + ['Pipi', 'Toto'])
amigos_sep = ';'.join(amigos) # devuelve un string  
print(amigos_sep)  
amigos.remove('Chicharito') # Elimina sólo un elemento, la primera coincidencia
print(amigos)
del amigos[0]   # Eliminacion por índice
print(amigos)
valor = amigos.pop(0) # Devuelve un elemento y lo borra de la lista
print(valor)
print(amigos)

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito']
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Pipi', 'Toto']
Mateo;Nico;Claudia;Ernestina;Paola;Chicharito;Chicharito
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito']
['Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito']
Nico
['Claudia', 'Ernestina', 'Paola', 'Chicharito']

In [10]:
edades = [30, 48, 38, 30, 37]
print(edades.count(30)) # Cantidad de apariciones
print(len(edades)) # Largo de la lista
print(sorted(edades)) # Ordenamiento
print(edades)
print(sum(edades)) 
print(min(edades))
print(max(edades))

2
5
[30, 30, 37, 38, 48]
[30, 48, 38, 30, 37]
183
30
48

## Diccionarios

In [16]:
dnis = {'Herrera':32676585, 'Guzmán':9564787, 
        'Pérez':5676898, 'Hernández':40565999, 
        'Abraham':28375814,
       "soy_una_llave":"soy_un_valor"} 
print(dnis['Abraham']) # noten que se usa la misma notación que con las listas, pero no es posible acceder por indices
print(dnis.keys()) # Muestra todas las llaves, devuelve un tipo dict_keys
print(type(dnis.keys()))
print(dnis.items()) # Muestra todos los pares de elementos, devuelve un tipo dict_items
print(type(dnis.items()))
dnis.pop('Herrera')   # metodo igual al de listas
print(dnis.items())
print(len(dnis))   # cantidad de pares

28375814
dict_keys(['Herrera', 'Guzmán', 'Pérez', 'Hernández', 'Abraham', 'soy_una_llave'])
<class 'dict_keys'>
dict_items([('Herrera', 32676585), ('Guzmán', 9564787), ('Pérez', 5676898), ('Hernández', 40565999), ('Abraham', 28375814), ('soy_una_llave', 'soy_un_valor')])
<class 'dict_items'>
dict_items([('Guzmán', 9564787), ('Pérez', 5676898), ('Hernández', 40565999), ('Abraham', 28375814), ('soy_una_llave', 'soy_un_valor')])
5

## Condicionales <a name="section-9"></a>

In [18]:
precio_dolar = 62

if precio_dolar >= 90:
    print("El dólar se fue por las nubes")
elif (precio_dolar < 90) and (precio_dolar >= 70):
    print("El dolar subió")
else: 
    print("El dólar es menor a 70")

print(precio_dolar)

El dólar es menor a 70
62

## Bucles

### For loop

In [19]:
for n in [1,2,'3']:
    print(f'EL tipo es {n*2} {type(n*2)}')

lista = [1,2,3,4,5]

for n in lista:
    print(n * 2)

EL tipo es 2 <class 'int'>
EL tipo es 4 <class 'int'>
EL tipo es 33 <class 'str'>
2
4
6
8
10

In [21]:
for n in range(5):     # maneja un intervalo abierto
    print(n)
print("")
for n in range(0,5,2):# range puede recibir los parametros de start, stop, step
    print(n)

0
1
2
3
4

0
2
4

### While

In [2]:
contador = 0

while contador < 5:
    contador += 1 # esto equivale a count = count + 1
    print(contador)

1
2
3
4
5